@import 'button';

#wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	form {
		font-size: 20px;
	}
	.form {
		&__num {
			margin-bottom: 15px;
			font-size: 14px;
			font-weight: 700;
		}
		&__title {
			margin-bottom: 10px;
		}
		&__input {
			input, span {
				line-height: 16px;
			}
			input {
				margin-right: 10px;
				width: 14px;
				height: 14px;
			}
			span {
				font-size: 14px;
			}
		}
	}
}
